body {
  background-color: lightblue;
}

.Title {
  color: brown;
  text-align: center;
  font-size: 40px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.Header {
  color: brown;
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.info {
  color: brown;
  font-size: 15px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.images {
  width: 300px;
  height: 300px;
}

table, tr, td {
  width: 100%;
  text-align: center;
}